<%- include('../partials/header') %>
<h1>Thoth Book Club</1>
<h3>Book List</h3>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <% books.forEach(b => { %>
          <tr>
            <td><%= b.title %></td>
            <td><%= b.author %></td>
            <td><a href="/books/<%= b._id %>">DETAILS</a></td>
        <% }); %>
    </tbody>
</table>
<%- include('../partials/footer') %>