<%- include('../partials/header') %>
<br><br><br>
<h1>Thoth Book Club</1>
<br><br><br>
<h3>Book List</h3>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Infomation</th>
        </tr>
    </thead>
    <tbody>
        <% books.forEach(b => { %>
          <tr>
            <td><%= b.title %></td>
            <td><%= b.author %></td>
            <td><a href="/books/<%= b._id %>">DETAILS</a></td>
        <% }); %>
    </tbody>
</table>

<section>
    <h3>About Us</h3>
    <article>
        Welcome to our Thoth Book Club community! We are a passionate group of readers who come together to explore the world of literature, share our thoughts, and engage in stimulating discussions. At the heart of our club is a diverse collection of books spanning various genres, from timeless classics to contemporary bestsellers.
        <br><br>
        Our club provides a welcoming environment for book enthusiasts of all ages and backgrounds. Whether you're a seasoned bibliophile or just starting your reading journey, there's a place for you here. Our members range from avid readers seeking new literary adventures to individuals eager to connect with like-minded individuals over a shared love of books.    
    </article>
</section>
<br><br>
<button class="join-button">Join Us</button>

<%- include('../partials/footer') %>